
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    overflow-x: hidden;
}

/* logo  */
.logo{
  width: 200px;
  cursor: pointer;
}

.navbar{
    background-color: #716c68 ;
}

/* navlink  */
.nav-link{
    color: rgb(189, 181, 181) !important;
}

.nav-link:hover{
    color: white !important;
    background-color: rgb(155, 74, 74) !important;
}


  /* footer  */
footer{
    background-color: #716c68 !important;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
}