
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    overflow-x: hidden;
}

/* logo  */
.logo{
  width: 200px;
  cursor: pointer;
}

.navbar{
    background-color: transparent ;
}

/* navlink  */
.nav-link{
    color: rgb(73, 69, 69) !important;
}

.nav-link:hover{
    color: white !important;
    background-color: rgb(155, 74, 74) !important;
}

/* home page background  */
.home{
background-image: url(https://i.postimg.cc/dVMjvm3D/hermes-rivera-a-K6-WGqxy-HFw-unsplash.jpg) !important;
    position:relative;
    background-size: cover;
    height: 110vh;
    width: 100%;
}

/* header for home page  */
.heading {
    color: white;
    position: absolute;
    display: flex;
    justify-content: start;
    max-width: 460px;
    top: 21rem;
    left: 3rem;
    font-weight: bold;
}

/* button on home page  */
.view{
display: flex !important;
justify-content: center !important;
align-items: center !important;
margin-top: 10px !important;
text-align: center !important;
}

/* customise the button  */
.see{
    color: white;
    background-color: rgb(73, 69, 69);
    height: 30px;
    width: 100px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 7px !important;
}

.row{
    justify-content: space-between !important;
    padding: 10px !important;
}

/* contact page  */
.contact{
    background-image: url(https://i.postimg.cc/HLzYyBmS/Screenshot-2023-06-12-085841.png);
    position:relative;
    background-size: cover;
    height: 110vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-label{
 font-weight: bold;
 font-size: 25px;
 color:  rgb(73, 69, 69) ;
 text-shadow: 2px 2px white;
}

input{
 width: 290px !important;
 font-weight: bold;

}

textarea{
    width: 290px !important;
}

/* button of contact  */
.btn{
    color:rgb(73, 69, 69) ;
}

.btn:hover{
    color:rgb(155, 74, 74) !important ;
    background-color: white !important;
}

  /* footer  */
footer{
    background-color: transparent !important;
    color:  rgb(73, 69, 69) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}