
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    overflow-x: hidden;
}

/* logo  */
.logo{
  width: 200px;
  cursor: pointer;
}

.navbar{
    background-color: transparent ;
}

/* navlink  */
.nav-link{
    color: black !important;
    border-bottom: 1px solid #867f7f !important;
    margin: 1rem !important;
}

.nav-link:hover{
    color: white !important;
    background-color:rgb(162, 212, 162)!important;
    border-bottom: 1px solid #000000 !important;
    transition: 1s !important;
    margin: 1rem !important;
}

/* home page background  */
.home{
background-image: url(https://i.postimg.cc/zBpSw6vx/prudence-earl-Nw-Bx723-Xa-Hw-unsplash.jpg) !important;
    position:relative;
    background-size: cover;
    height: 110vh;
    width: 100%;
}

/* header for home page  */
.heading {
    color: rgb(119, 210, 119);
    text-shadow: 2px 2px white;
    position: absolute;
    display: flex !important;
    justify-content: start !important;
    max-width: 460px;
    top: 21rem;
    left: 3rem;
    font-weight: bold;
}

/* button on home page  */
.view{
display: flex !important;
justify-content: center !important;
align-items: center !important;
margin-top: 10px !important;
text-align: center !important;
}

/* customise the button  */
.see{
    color:black;
    background-color:rgb(119, 210, 119);
    height: 30px;
    width: 100px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 7px !important;
}


.see:hover{
    color: white;
    background-color: rgb(119, 210, 119);
}

.row{
    justify-content: space-evenly !important;
    /* padding: 10px !important; */
}

.featured{
    font-weight: bold !important;
    text-decoration: 2px underline rgb(119, 210, 119);
}




/* about page  */
.info{
    display: inline-flex !important;
}

.info1{
    display: inline-flex !important;
    flex-direction: row-reverse;
}

.j{
    font-size: 15px;
}

/* objectfit contain  */

.img{
    width: 100%;
    height: 200px;
}

.img1{
    width: 100%;
    height: 175px;
}

.j{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.k{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}




/* Products */
.card{
    width: 18rem;
}
.head{
    text-align: center;
}

span{
    color: rgb(119, 210, 119);
}

/* product page  */
.price{
    text-decoration: line-through ;
    color: red !important;
}





/* contact page  */
.contact{
    background-image: url(https://i.postimg.cc/fRXjQgxV/Screenshot-2023-06-12-203006.png);
    position:relative;
    background-size: cover;
    height: 110vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-label{
 font-weight: bold;
 font-size: 25px;
 color: white ;
 text-shadow: 2px 2px rgb(27, 190, 68);
}

input{
 width: 290px !important;
 font-weight: bold;

}

textarea{
    width: 290px !important;
}

/* button of contact  */
.btn{
    color:rgb(73, 69, 69) ;
}

.btn:hover{
    color:white;
    background-color: rgb(119, 210, 119) !important;
}




/* admin page  */
.add{
    float: right;
    background-color: grey;
    color: black;
    width: 50px;
    border-radius: 5px;
}



.add:hover{
    background-color: grey;
    color: white;
}

.sort{
    float: left;
    background-color:grey;
    color: black;
    width: 50px;
    border-radius: 5px;
    margin-bottom: 7px !important;
}

.sort:hover{
    background-color: grey;
    color: white;
}

.edit{
    background-color: grey;
    color: black;
    width: 50px;
    border-radius: 5px;
    margin-bottom: 7px !important;
}

.edit:hover{
    background-color: grey;
    color: white;
}

.del{
    background-color: red;
    color: black;
    width: 50px;
    border-radius: 5px;
    
}

.del:hover{
    background-color: red;
    color: white;
}

table,
 th, 
 td {
    border: 1px solid black !important;
    
  }
  
  .adminPics {
      height: 11rem;
  }
  
  .pics{
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
  }
  
  /* checkout page  */
#checkout{
    text-align: center !important;
    text-decoration:2px underline !important;
}


  /* footer  */
footer{
    background-color: transparent !important;
    color:  rgb(73, 69, 69) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

